@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.button-flip span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
.button-flip span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.button-flip span a:before,
.button-flip span a:after {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #0f003c;
  box-sizing: border-box;
  border-radius: 5px;
}
.button-flip span a:before {
  color: azure;
  background:  #0f003c;
  transform: rotateY(0deg) translateZ(25px);
}
.button-flip span a:after {
  color:  #0f003c;
  transform: rotateX(90deg) translateZ(25px);
}
.button-flip span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
